:root {
  --theme-color: rgb(56 189 248);
}

.box-handle {
  position: fixed;
  width: 2rem;
  height: 2rem;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color);
  border-radius: 100vw;
  outline: none;
}

.box-window {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 0.375rem;
  display: flex;
  height: 500px;
  width: 350px;
  flex-direction: column;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1000;
  background-color: white;
}

.box-header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-color);
  color: white;
  font-weight: bold;
  padding-inline: 0.75rem;
}

.box-content {
  width: 100%;
  height: 100%;
  border: none;
}

.plus {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('https://api.iconify.design/bi/plus.svg');
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.x {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('https://api.iconify.design/bi/x.svg');
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Utilities */

.hidden {
  display: none;
}
